.pageDetails {
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #8d8d8d;
  background: #fdfefe;
}

.button {
  padding: 0px;
  cursor: pointer;
  cursor: hand;
}

.disabledButton {
  cursor: default;  
}
