.pageDetails {
  padding: 4px 8px;
  text-align: center;
  border: none;     
  min-width: 70px;
  color: #d5d5d5;
}

.button {
  padding: 0px;
  cursor: pointer !important;
  cursor: hand;
}

.button img:hover {
    opacity: 0.6;
}

.disabledButton {
  cursor: default;  
}