@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout for rest views for max 1200px width
 *
 * @author Martin Slavkovsky
 *
 */
.header-container {
    background: url(images/header_bg_480.jpg) repeat-x;
    height: 150px;
}
.toolbar-container {}
.body-container {}

.layout-user-main {
}

.full-size-panel {
}

.fluid-main-grid {
}

.fluid-main-grid .grid-span7 {
}

.fluid-main-grid .grid-span5 {
}

.search-view {
}

.search-view ul {
}

.search-view ul li {
}

.search-view select {
}

.search-view input {
}

.advanced-search-modal {
}

.advanced-search-small-modal {
}

/*
*	Toolbar Module styles
*
*/
.submenu-icon {
    display: block;
    float: left;
}
.submenu-header {
}
.content-container {
    padding: 10px;
}
.content-container.home {
    left: 0;
}
.content-container.user {
    -left: 0;
}

.detail-container {
}
.left-container {
    position: absolute;
    z-index: 10;
}
.left-container.home {
    left: -330px;
}
.left-container.user {
    left: -220px;
}
    
.submenu-list {
}

.submenu-list .gwt-Button {
}

.submenu-list .gwt-Button:hover, .gwt-Button.act {
}

.pager {
}
.filter-label {}
/** Other Styles **/
.data-grid-container table {
    padding: 0 10px 10px;
}

.data-grid-container > div:first-child table {
    padding: 10px 10px 0;
}

.data-grid-container table[align="center"] {
}

.data-grid-container table[align="center"] img {
}

.detail-info {
}

.popup-dropdown-container table {
}

.tab-layout-container {
}

.tab-layout-panel {
}

.stack-layout {
}

.stack-layout-panel-header {
}

.stack-layout-panel-header:hover {
}

/* Client And Supplier Dashboard Styles*/

.dashboard {
}

.dashboard .dashboard-block {
}

.dashboard h4 {
}

.dashboard h5 {
}

.dashboard .dashboard-block-content {
}

.dashboard .dashboard-block-content > .span12 {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list:hover {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list strong {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list span {
}

.dashboard  .dashboard-block-content .gwt-Label.pull-left {
}

.dashboard  .dashboard-block-content .description {
}

.notification-panel {}