.header-container {}
.toolbar-container {}
.body-container {}
.full-size-panel {}
.fluid-main-grid {}
.search-view {}
.advanced-search-modal {}
.advanced-search-small-modal {}
.submenu-icon {}
.submenu-header {}

.content-container .content-margin {
    padding: 0;
}

.detail-container {}
.left-container {}
.submenu-list {}
.pager {}
.filter-label {}

.data-grid-container table {
    padding: 0;
}
.data-grid-container > div:first-child table {
    padding: 0;
}

.detail-info {}
.popup-dropdown-container table {}
.tab-layout-container {}
.tab-layout-panel {}
.stack-layout {}
.stack-layout-panel-header {}
.dashboard {}

.notification-panel .buttons {
    margin-left: 5px;
}