.header-container {
    height: 60px;
}

.toolbar-container {
}
.body-container {}
.full-size-panel {}
.fluid-main-grid {}
.search-view {}
.advanced-search-modal {}
.advanced-search-small-modal {}
.submenu-icon {}
.submenu-header {}

.content-container .span-detail {
    width: 0px;
}

.detail-container {
    position: absolute;
    right: -330px;
    z-index: 11;
    height: 100%;
    width: 330px;
}

.left-container {}
.submenu-list {}
.pager {}
.filter-label {}
.data-grid-container  {}
.detail-info {}
.popup-dropdown-container {}
.tab-layout-container {}
.tab-layout-panel {}
.stack-layout {}
.stack-layout-panel-header {}
.dashboard {}

.notification-panel .label-on {
    display: none;
}

.notification-panel .label-off {
    display: none;
}
.notification-panel .buttons {
    margin-left: 15px;
}