@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout for rest views for max 800 width
 *
 * @author Martin Slavkovsky
 *
 */
.header-container {}
.toolbar-container {}
.body-container {}

.layout-user-main {
}

.full-size-panel {
}

.fluid-main-grid {
}

.fluid-main-grid .grid-span7 {
}

.fluid-main-grid .grid-span5 {
}

.search-view {
}

.search-view ul {
}

.search-view ul li {
}

.search-view select {
}

.search-view input {
}

.advanced-search-modal {
}

.advanced-search-small-modal {
}

/*
*	Toolbar Module styles
*
*/
.submenu-icon {
}
.submenu-header {
}

.content-container {
    padding: 0;
}

.detail-container {
}

.left-container {
}

.submenu-list {
}

.pager {
}
.filter-label {
}
/** Other Styles **/
.data-grid-container table {
    padding: 0;
}
.data-grid-container > div:first-child table {
    padding: 0;
}

.detail-info {
}

.popup-dropdown-container table {
}

.tab-layout-container {
}

.tab-layout-panel {
}

.stack-layout {
}

.stack-layout-panel-header {
}

.stack-layout-panel-header:hover {
}

/* Client And Supplier Dashboard Styles*/

.dashboard {
}

.dashboard .dashboard-block {
}

.dashboard h4 {
}

.dashboard h5 {
}

.dashboard .dashboard-block-content {
}

.dashboard .dashboard-block-content > .span12 {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list:hover {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list strong {
}

.dashboard  .dashboard-block-content .gwt-HTML.label-list span {
}

.dashboard  .dashboard-block-content .gwt-Label.pull-left {
}

.dashboard  .dashboard-block-content .description {
}

.notification-panel .buttons {
    margin-left: 5px;
}