.header-container {
    background: url(images/header_bg_480.jpg) repeat-x;
    height: 150px;
}

.toolbar-container {
    float: left;
    padding-bottom: 5px;
    min-height: 40px;
}
.body-container {}
.full-size-panel {}
.fluid-main-grid {}
.search-view {}
.advanced-search-modal {}
.advanced-search-small-modal {}

.submenu-icon {
    display: block;
    float: left;
}
.submenu-header {}

.content-container.home {
    margin-left: 0;
}
.content-container.user {
    margin-left: 0;
}
.content-container .content-margin {
    margin: 10px;
}
.content-container .span-detail {
    width: 42.55%;
}

.detail-container {}

.left-container {
    position: absolute;
    z-index: 10;
}
.left-container.home {
    left: -330px;
}
.left-container.user {
    left: -220px;
}

.submenu-list {}
.pager {}
.filter-label {}

.data-grid-container table {
    padding: 0 10px 10px;
}

.data-grid-container > div:first-child table {
    padding: 10px 10px 0;
}

.detail-info {}
.popup-dropdown-container table {}
.tab-layout-container {}
.tab-layout-panel {}
.stack-layout {}
.stack-layout-panel-header {}
.dashboard {}
.notification-panel {}