<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:encryption="http://www.jasypt.org/schema/encryption"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.jasypt.org/schema/encryption http://www.jasypt.org/schema/encryption/jasypt-spring31-encryption-1.xsd">

    <!-- Dependencies on beans from data-access.xml exists therefore we must import it -->
    <import resource="data-access.xml"/>
    <!-- messaging -->
    <import resource="messaging-config.xml" />


    <bean id="clientDao" class="com.eprovement.poptavka.dao.user.ClientDaoImpl"/>

    <bean id="preferenceDao" class="com.eprovement.poptavka.dao.user.PreferenceDaoImpl" />

    <bean id="demandDao" class="com.eprovement.poptavka.dao.demand.DemandDaoImpl">
        <property name="treeItemDao" ref="treeItemDao" />
    </bean>

    <bean id="ratingDao" class="com.eprovement.poptavka.dao.demand.RatingDaoImpl" />

    <bean id="auditDao" class="com.eprovement.poptavka.dao.audit.AuditDaoImpl" />

    <bean id="treeItemDao" class="com.eprovement.poptavka.dao.common.TreeItemDaoImpl" />

    <bean id="localityDao" class="com.eprovement.poptavka.dao.address.LocalityDaoImpl" />

    <bean id="categoryDao" class="com.eprovement.poptavka.dao.demand.CategoryDaoImpl" />

    <bean id="supplierDao" class="com.eprovement.poptavka.dao.user.SupplierDaoImpl">
        <property name="treeItemDao" ref="treeItemDao" />
    </bean>

    <bean id="messageDao" class="com.eprovement.poptavka.dao.message.MessageDaoImpl" />

    <bean id="userMessageDao" class="com.eprovement.poptavka.dao.usermessage.UserMessageDaoImpl" />

    <bean id="OfferDao" class="com.eprovement.poptavka.dao.offer.OfferDaoImpl" />


    <!-- Service -->
    <bean id="generalService" class="com.eprovement.poptavka.service.GeneralServiceImpl">
        <constructor-arg ref="generalDao" />
    </bean>

    <bean id="fulltextSearchService" class="com.eprovement.poptavka.service.fulltext.HibernateFulltextSearchService" />

    <bean id="registerService" class="com.eprovement.poptavka.service.register.RegisterServiceImpl">
        <constructor-arg ref="generalService" />
    </bean>

    <bean id="treeItemService" class="com.eprovement.poptavka.service.common.TreeItemServiceImpl">
        <constructor-arg ref="treeItemDao" />
    </bean>

    <bean id="clientService" class="com.eprovement.poptavka.service.user.ClientServiceImpl">
        <constructor-arg ref="generalService" />
        <constructor-arg ref="registerService" />
        <constructor-arg ref="userVerificationService" />
        <property name="dao" ref="clientDao"/>
    </bean>

    <bean id="preferenceService" class="com.eprovement.poptavka.service.user.PreferenceServiceImpl">
        <constructor-arg ref="preferenceDao" />
    </bean>

    <bean id="demandService" class="com.eprovement.poptavka.service.demand.DemandServiceImpl">
        <constructor-arg ref="demandDao" />
        <property name="clientService" ref="clientService" />
        <property name="supplierService" ref="supplierService" />
        <property name="registerService" ref="registerService" />
        <property name="messageService" ref="messageService" />
        <property name="suppliersSelection" ref="demandSelection" />
    </bean>

    <bean id="demandSelection" class="com.eprovement.poptavka.service.demand.NaiveSuppliersSelection">
        <property name="supplierService" ref="supplierService" />
    </bean>

    <bean id="ratingService" class="com.eprovement.poptavka.service.demand.RatingServiceImpl">
        <constructor-arg ref="ratingDao" />
    </bean>

    <bean id="categoryService" class="com.eprovement.poptavka.service.demand.CategoryServiceImpl">
        <constructor-arg ref="categoryDao" />
    </bean>

    <bean id="localityService" class="com.eprovement.poptavka.service.address.LocalityServiceImpl">
        <constructor-arg ref="localityDao" />
    </bean>

    <bean id="auditService" class="com.eprovement.poptavka.service.audit.AuditServiceImpl">
        <constructor-arg ref="auditDao" />
    </bean>

    <bean id="loginService" class="com.eprovement.poptavka.service.user.LoginServiceImpl">
        <constructor-arg ref="generalService" />
        <constructor-arg ref="passwordEncryptor" />
    </bean>

    <bean id="supplierService" class="com.eprovement.poptavka.service.user.SupplierServiceImpl">
        <constructor-arg ref="generalService" />
        <constructor-arg ref="supplierDao" />
        <constructor-arg ref="registerService" />
        <constructor-arg ref="userVerificationService" />
    </bean>

    <bean id="messageService" class="com.eprovement.poptavka.service.message.MessageServiceImpl">
        <constructor-arg ref="messageDao" />
        <constructor-arg ref="generalService" />
        <constructor-arg ref="userMessageService" />
    </bean>

    <bean id="userMessageService" class="com.eprovement.poptavka.service.usermessage.UserMessageServiceImpl">
        <constructor-arg ref="userMessageDao" />
        <constructor-arg ref="generalService" />
    </bean>

    <bean id="offerService" class="com.eprovement.poptavka.service.offer.OfferServiceImpl">
        <constructor-arg ref="OfferDao" />
        <property name="registerService" ref="registerService" />
    </bean>

    <bean id="processCrawledDemandsService" class="com.eprovement.poptavka.service.demand.ProcessCrawledDemandsServiceImpl">
        <constructor-arg ref="demandConverter" />
        <constructor-arg ref="demandService" />
    </bean>
    
    <bean id="notificationItemService" class="com.eprovement.poptavka.service.message.settings.NotificationItemServiceImpl" />

    <bean id="userVerificationService" class="com.eprovement.poptavka.service.user.UserVerificationServiceImpl">
        <constructor-arg ref="generalService" />
        <property name="mailService" ref="mailService"/>
    </bean>

    <!-- Jobs -->
    <bean id="additionalInfoFiller" class="com.eprovement.poptavka.service.jobs.AdditionalInfoFiller">
        <property name="demandService" ref="demandService" />
        <property name="supplierService" ref="supplierService" />
    </bean>

    <bean id="demandsToSuppliersSender" class="com.eprovement.poptavka.service.jobs.DemandsToSuppliersSender">
        <property name="demandService" ref="demandService" />
    </bean>

    <!-- Other -->
    <bean id="applicationContextProvider" class="com.eprovement.poptavka.application.ApplicationContextProvider"/>

    <bean id="demandConverter" class="com.eprovement.poptavka.messaging.crawler.DemandConverter">
        <constructor-arg ref="generalService" />
        <constructor-arg ref="demandService" />
        <constructor-arg ref="localityService" />
    </bean>
    <bean id="processCrawledDemandsHandler" class="com.eprovement.poptavka.messaging.crawler.ProcessCrawledDemandsHandler">
        <constructor-arg ref="messageTemplate" />
        <constructor-arg ref="processCrawledDemandsService" />
    </bean>

    <!-- Temporary disable processing of incoming crawled demands until more suitable strategy
        for communication with crawler is implemented. -->
    <!--<bean class="org.springframework.amqp.rabbit.listener.SimpleMessageListenerContainer"-->
        <!--p:connectionFactory-ref="rabbitConnFactory"-->
        <!--p:queueNames="${amqp.queue}"-->
        <!--p:messageListener-ref="processCrawledDemandsHandler" />-->

    <!--<context:component-scan base-package="com.eprovement.poptavka"/>-->

    <!-- Mail support -->
    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mailserver.host}" />
        <property name="port" value="${mailserver.port}" />
        <property name="protocol" value="${mailserver.protocol}" />
        <property name="username" value="${mailserver.username}" />
        <property name="password" value="${mailserver.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.quitwait">false</prop>
            </props>
        </property>
    </bean>
    <bean id="mailService" class="com.eprovement.poptavka.service.mail.MailServiceImpl">
        <property name="javaMailSender" ref="javaMailSender" />
    </bean>

    <!-- JMX -->
    <context:mbean-server />
    <bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="poptavka:name=ExceptionLogger" value-ref="exceptionLogger" />
            </map>
        </property>
        <property name="server" ref="mbeanServer" />
        <property name="assembler" ref="jmxAssembler" />
        <!-- Ignore registration of mbean if it is already exists => e.g. LocalityServiceDbTest is falling on
        InstanceAlreadyExistsException when this is not set -->
        <property name="registrationBehaviorName" value="REGISTRATION_IGNORE_EXISTING" />
    </bean>
    <bean id="jmxAssembler" class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
        <property name="managedInterfaces" value="com.eprovement.poptavka.application.PoptavkaManagedOperations" />
    </bean>
    
    <!--Security-->
        <!--  Set up string digester here so we can configure it for more pools if it's a problem -->
        <!-- same settings as StrongPasswordGenerator -->
    <bean id="passwordEncryptor" class="com.eprovement.poptavka.application.security.PasswordEncryptor">
        <property name="stringDigester">
            <encryption:string-digester pool-size="2" algorithm="SHA-256" iterations="100000" salt-size-bytes="16"/>
        </property>
    </bean>
    <bean id="symmetricEncryptor" class="com.eprovement.poptavka.application.security.SymmetricKeyEncryptor">
        <constructor-arg value="${crypto.symmetricKey.password}" />
    </bean>

</beans>
