@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout for initial views
 *
 * @author Jaro
 *
 */
html {
}

body {
    /*min-width: 480px;*/
}

body > div {
    /*min-width: 480px;*/
}


.homepage {
    margin: 0;
    width: 100%;
}
.homepage .header {
    font-size: 30px;
}
.homepage .banner1 {
    margin: 0;
    width: 100%;
    background-position: top center;
}
.homepage .banner2 {
    margin: 0;
    width: 100%;
    background-position: top center;
}
.homepage .banner-link2-position {
    top:225px;
    left:26px;
}
.homepage .banner-button {
    background:url(images/button-right-large.png) no-repeat;
    top: 255px;
    font-size: 17px;
    width: 226px;
}

.root-category-cell {
    max-width: 100%;
    margin: 0;
}
.root-category-cell .category-name {
    font-size: 15px;
}

.scroll-container {}

/******************************************************************************/
/*  Toolbar styles                                                            */
/******************************************************************************/
.toolbar .header {    
    display: none;
}
.toolbar .item {
    margin: 6px 5px 0 0;
}
/******************************************************************************/
/*  Footer View                                                               */
/******************************************************************************/
.footer {}
/* Loader Modal Styles */
.loader-modal {}

/******************************************************************************/
/*  Common Responsive                                                         */
/******************************************************************************/
.hide-small {}
.expand-small {}
.half-expand-small {}