/**
 * Css Resources for main basic layout for initial views
 *
 * @author Jaro
 *
 */
html {
}

body {
    /*min-width: 480px;*/
}

body > div {
    /*min-width: 480px;*/
}


.homepage {
    max-width: 980px;
    width: 96%;    
}

.homepage .banner1 {
    background: url("images/homepage/homebanners.png") no-repeat top center;
    margin: -13px 0 0 2%;
    width: 47%;
}

.homepage .banner2 {
    background: url("images/homepage/homebanners.png") no-repeat center -315px;
    margin: -13px 0 0 2%;
    width: 47%;
}

.root-category-cell {}

.root-category-cell .category-name {
    font-size: 16px;
}

.scroll-container {}

/******************************************************************************/
/*  Toolbar styles                                                            */
/******************************************************************************/
.toolbar {}
.toolbar .left-icon {
    display: block;
    margin: 6px 6px 0;
}

.toolbar .header {    
    padding: 10px 0 0 10px;
    line-height: 28px;
    font-size: 18px;
}

/******************************************************************************/
/*  Footer View                                                               */
/******************************************************************************/
.footer {}
/* Loader Modal Styles */
.loader-modal {}

/******************************************************************************/
/*  Common Responsive                                                         */
/******************************************************************************/
.hide-small {}
.expand-small {}
.half-expand-small {}