/**
 * Css Resources for main basic layout for initial views
 *
 * @author Jaro
 *
 */
html {
}

body {
    /*min-width: 480px;*/
}

body > div {
    /*min-width: 480px;*/
}


.homepage {}
.root-category-cell {}

.scroll-container {}

/******************************************************************************/
/*  Toolbar styles                                                            */
/******************************************************************************/
.toolbar {}
.toolbar .left-icon {
    display: block;
    margin: 6px 6px 0;
}

.toolbar .header {    
    padding-left: 10px;
}

/******************************************************************************/
/*  Footer View                                                               */
/******************************************************************************/
.footer {}
/* Loader Modal Styles */
.loader-modal {}

/******************************************************************************/
/*  Common Responsive                                                         */
/******************************************************************************/
.hide-small {}
.expand-small {}
.half-expand-small {}