/**
 * Css Resources for main basic layout for initial views
 *
 * @author Jaro
 *
 */
html {
}

body {
    /*min-width: 480px;*/
}

body > div {
    /*min-width: 480px;*/
}

.homepage {
    width: 490px;
}
.homepage .banner1 {
    background:url(images/homepage/homebanners.png) no-repeat;
    display: block;
    float: left;
    height: 315px;
    margin: -13px 0 0 14px;
    width: 462px;
    position: relative;
}
.homepage .banner2 {
    background:url(images/homepage/homebanners.png) 0 -315px no-repeat;
    display: block;
    float: left;
    height: 315px;
    margin: -13px 0 0 14px;
    width: 462px;
    position: relative;
}

.root-category-cell {
    margin: 2px 3%;
    width: 94%;
}

.scroll-container {}

/******************************************************************************/
/*  Toolbar styles                                                            */
/******************************************************************************/
.toolbar .header {    
    display: none;
}
.toolbar .right-icon {
    display: block;
}

/******************************************************************************/
/*  Footer View                                                               */
/******************************************************************************/
.footer {}
/* Loader Modal Styles */
.loader-modal {
    margin: 0 auto !important;
}

/******************************************************************************/
/*  Common Responsive                                                         */
/******************************************************************************/
.hide-small {
    display: none !important;
}
.expand-small {
    width: 100% !important;
}
.expand-small {
    margin-top: 10px;
}
.expand-small:first-child {
    margin-top: 0px;
}
.half-expand-small {
    width: 50% !important;
}
