@CHARSET "UTF-8";

.small-loader {
    width: 200px;
    height: 160px;
    background: url("images/loader.gif") no-repeat center;
}

.elem-hidden {
    display: none;
}

.elem-visible {
    display: block;
}

/** common widgets **/
.info-message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.info-message div {
    padding: 5px;
    border: 1px solid #D7C289;
    background-color: #FDF3D7;
}

.info-message div:hover {
    background-color: #F7EBCD;
    cursor: help;
}

.error-message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.error-message div {
    padding: 5px;
    border: solid #F0B6C3 1px;
    background-color: #F8CFC4;
}

.error-message div:hover {
    background-color: #FFB6C3;
    cursor: help;
}

.disabled-text {
    background-color: gray;;
}

.error-field {
    background-color: #ffcece;
}

.loading-popup {
    z-index: 101;
    border: 1px solid black;
    font-weight: bold;
    min-width: 120px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.hyperlink {
    display: inline;
}

.user { /*    height: 800px;
    width: 1300px*/
    height: 100%;
    width: 100%;
}

.user_content { /*    height: 500px;
    width: 1050px;*/
    height: 100%;
    width: 100%;
}

.empty_style {

}

.textBoxAsLabel {
    border: none;
    background-color: #fff;
    background: transparent;
}

/* Common buttons */
.button-left-small {
    background: url(images/button-left-small.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 43px;
    width: 101px;
    padding: 0 0 4px 10px;
    margin-right: 10px;
}

.button-left-medium {
    background: url(images/button-left-medium.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 166px;
}

.button-left-large {
    background: url(images/button-left-large.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 236px;
    padding: 0 0 0 23px;
}

.button-right-small {
    background: url(images/button-right-small.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 43px;
    width: 101px;
    padding: 0 10px 4px 0;
}

.button-right-medium {
    background: url(images/button-right-medium.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 166px;
}

.button-right-large {
    background: url(images/button-right-large.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 236px;
    padding: 0 23px 0 0;
}

/* CellBrowser selected item styles  */

.selected-items-widget .selected-Label {
    float: left;
    color: #237E00;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
    margin: 0 15px 0 0;
}

.selected-items-widget .scroll-Container {
    height: 36px;
    width: 92%;
}

.selected-items-widget .selected-Item {
    background: #F0EBD8;        
    color: #706C5C;
    float: left;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.selected-items-widget .selected-Item img {
    margin-left: 5px;    
}

/* switch widget styles */
.switch-left {
    background: url(images/switch-left.png) no-repeat;
    width: 108px;
    height: 40px;    
}

.switch-right {
    background: url(images/switch-right.png) no-repeat;
    width: 108px;
    height: 40px;    
}

.switch-left .gwt-Button, .switch-right .gwt-Button {
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    font-size: small;
    height: 40px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 54px;
}

/* Login Modal Styles */
.login-modal {
    padding: 10px;
    width: 520px;
    background: #000000;
}

.login-modal .modal-header {
    font-size: 24px;
    font-weight: 300;
    color: #6f6b59;
    padding: 0px 20px 20px;
}

.login-modal .modal-body {
    background: #ffffff;
    padding: 20px;
    max-height: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-modal fieldset {
    background: #e7e3d6;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-modal fieldset .control-label {
    text-align: left;
    color: #237e00;
    width: 110px;
    line-height: 30px;
}

.login-modal .form-horizontal .controls {
    margin-left: 130px;
}

.login-modal fieldset .controls .gwt-TextBox,
.login-modal fieldset .controls .gwt-PasswordTextBox
{   
    color: #000000;
    width: 310px;
    height: 40px;
    background: #f8f4e4;
    border: 1px solid #d2c9a9;
    padding: 0 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.login-modal fieldset .controls .gwt-TextBox:focus,
.login-modal fieldset .controls .gwt-PasswordTextBox:focus
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(158, 151, 126, 0.6);
}

.login-modal .info-block {
    background: url(images/login-popup/info-icon.gif) no-repeat 15px 8px #DDD8C5;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    min-height: 27px;
    margin: 0;
    padding: 17px 35px 8px 60px;
}

.login-modal .control-group.error .control-label {
    color: #d70000;
    text-shadow: none;
}

.login-modal .control-group.error .controls .gwt-TextBox,
.login-modal .control-group.error .controls .gwt-PasswordTextBox
{   
    border: 1px solid #d70000;
}
.login-modal .control-group.error .controls .gwt-TextBox:focus,
.login-modal .control-group.error .controls .gwt-PasswordTextBox:focus
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}

.login-modal .info-block.alert-error {
    background: url(images/login-popup/error-icon.gif) no-repeat 15px 8px #dd5b56;
    border: 1px solid #d70000;
}

.login-modal .info-block.alert-error .gwt-Label {
    color: #ffffff;
    text-shadow: none;
}

.login-modal .login-button {
    background: url(images/login-popup/login-button.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 18px 15px 0 0;
    text-align: center;
    text-decoration: none;
    width: 85px;    
}

.login-modal .cancel-button {
    background: url(images/login-popup/cancel-button.png) no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 18px 15px 0 0;
    text-align: center;
    text-decoration: none;
    width: 85px;
    color: #ffffff; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* error control groups */
.changeMonitorStyle .control-group {
    position: relative;
}

.changeMonitorStyle .label {
    background: url(images/error-label.png) no-repeat;
    line-height: 16px;
    min-height: 16px;
    padding: 0 15px 0 30px;
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}

.changeMonitorStyle .controls .errorLabel-container {
    display: block;
    padding: 0 0 0 4px;
    position: absolute;
    right: 30px;
    top: -16px;
}

.changeMonitorStyle .controls .changeLabel-container {
    display: block;
    padding: 0 0 0 4px;
    position: absolute;
    right: 5px;
    top: -16px;
}

.changeMonitorStyle .error .controls input {
    border: 1px solid #f00000;
}

.changeMonitorStyle .control-group .gwt-TextBox {
    width: 350px;
}

.changeMonitorStyle .control-group .gwt-TextArea {
    height: 200px;
    width: 500px;
}

.changeMonitorStyle .control-group .gwt-BigDecimalTextBox {
    width: 322px;
}

.changeMonitorStyle .control-group .gwt-IntegerTextBox {
    width: 322px;
}

.changeMonitorStyle .control-group .gwt-DateBox {
    width: 350px;
}

.changed {
    background-color: #B7F789;
}