@CHARSET "UTF-8";

.small-loader {
    width: 200px;
    height: 160px;
    background: url("images/loader.gif") no-repeat center;
}

.elem-hidden {
    display: none;
}

.elem-visible {
    display: block;
}

/** common widgets **/
.info-message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.info-message div {
    padding: 5px;
    border: 1px solid #D7C289;
    background-color: #FDF3D7;
}

.info-message div:hover {
    background-color: #F7EBCD;
    cursor: help;
}

.error-message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.error-message div {
    padding: 5px;
    border: solid #F0B6C3 1px;
    background-color: #F8CFC4;
}

.error-message div:hover {
    background-color: #FFB6C3;
    cursor: help;
}

.disabled-text {
    background-color: gray;;
}

.error-field {
    background-color: #ffcece;
}

.loading-popup {
    z-index: 101;
    border: 1px solid black;
    font-weight: bold;
    min-width: 120px;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.hyperlink {
    display: inline;
}

.user { /*    height: 800px;
    width: 1300px*/
    height: 100%;
    width: 100%;
}

.user_content { /*    height: 500px;
    width: 1050px;*/
    height: 100%;
    width: 100%;
}

.empty_style {

}

.textBoxAsLabel {
    border: none;
    background-color: #fff;
    background: transparent;
}

.changed {
    background-color: #00FF00 !important;
}

/* Common buttons */
.button-left-small {
    background: url(images/button-left-small.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 43px;
    width: 101px;
    padding: 0 0 4px 10px;
    margin-right: 10px;
}

.button-left-medium {
    background: url(images/button-left-medium.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 166px;
}

.button-left-large {
    background: url(images/button-left-large.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 236px;
    padding: 0 0 0 23px;
}

.button-right-small {
    background: url(images/button-right-small.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 43px;
    width: 101px;
    padding: 0 10px 4px 0;
}

.button-right-medium {
    background: url(images/button-right-medium.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 166px;
}

.button-right-large {
    background: url(images/button-right-large.png) no-repeat;
    border: medium none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: lighter;
    height: 50px;
    width: 236px;
    padding: 0 23px 0 0;
}

/* CellBrowser selected item styles  */

.selected-items-widget .selected-Label {
    float: left;
    color: #237E00;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
    margin: 0 15px 0 0;
}

.selected-items-widget .scroll-Container {
    height: 36px;
    width: 92%;
}

.selected-items-widget .selected-Item {
    background: #F0EBD8;        
    color: #706C5C;
    float: left;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.selected-items-widget .selected-Item img {
    margin-left: 5px;    
}
