@CHARSET "UTF-8";

.createTabPanel {
    height: 100%;
    width: 1200px;
}

.createTabPanel .gwt-TabLayoutPanelTab-selected .customHeader {
    background: url(images/create-tab-arrow-hover.png) no-repeat top right;
    cursor: pointer;
    color: #ffffff;
    font-weight: normal;
}

.createTabPanel .gwt-TabLayoutPanelContentContainer {
    background: transparent;
    border: none;
    border-radius: 0 0 5px 5px;
}

.createTabPanel .gwt-TabLayoutPanelTabs {
    width: 975px;
    height: 59px;
    border-radius: 5px 5px 0 0;
}

.createTabPanel .customHeader {
    background: url(images/create-tab-arrow.png) no-repeat right top;
    color: #665D3C;
    font-size: 16px;
    font-weight: lighter;
    height: 59px;
    line-height: 59px;
    margin-right: -8px;
    position: relative;
    text-align: center;
    width: 247px;
}
.createTabPanel .gwt-TabLayoutPanelTab:first-child .customHeader {
    width: 244px;
}

