@CHARSET "UTF-8";

.detailTabPanel {
    height: 100%;	
}

.detailTabPanel h4 {
    visibility: hidden;
    display: none;
}

.detailTabPanel .gwt-TabLayoutPanelTab {
    background: none;
    color: #a09c8b;
    height: 50px;
    line-height: 50px;
    margin-right: 4px;
    text-align: center;
    width: 128px;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.detailTabPanel .gwt-TabLayoutPanelTab-selected .gwt-TabLayoutPanelTabInner .gwt-HTML {
    background: url(images/header.gif) repeat-x top right;
    cursor: pointer;
    color: #6f6b59;
    border-radius: 6px 6px 0 0;
    border-right: 1px solid #d1cec2;
    border-left: 1px solid #d1cec2;
}

.detailTabPanel .gwt-TabLayoutPanelContentContainer {
    border: none;
    padding: 0;
    margin: 0;
}

.detailTabPanel .gwt-TabLayoutPanelContent {
}