/*
    Document   : mailBox
    Created on : Feb 7, 2012, 8:18:20 AM
    Author     : slavkovsky.martin
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO LATER Jaro: customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



