/* 
    Document   : modal
    Created on : Mar 24, 2013, 1:42:18 PM
    Author     : Archo
    Description: Common stylessheet for modal windows (example: Login modal)
*/

/* Login Modal Styles */
.login-modal {
    padding: 10px;
    width: 520px;
    background: #000000;
}

.login-modal .modal-header {
    font-size: 24px;
    font-weight: 300;
    color: #6f6b59;
    padding: 0px 20px 20px;
}

.login-modal .modal-body {
    background: #ffffff;
    padding: 20px;
    max-height: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-modal fieldset {
    background: #e7e3d6;
    padding: 20px 20px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.login-modal fieldset .control-label {
    text-align: left;
    color: #237e00;
    width: 110px;
    line-height: 30px;
}

.login-modal .form-horizontal .controls {
    margin-left: 130px;
}

.login-modal fieldset .gwt-TextBox,
.login-modal fieldset .gwt-PasswordTextBox
{   
    color: #000000;
    width: 310px;
    height: 40px;
    background: #f8f4e4;
    border: 1px solid #d2c9a9;
    padding: 0 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.login-modal fieldset .gwt-TextBox:focus,
.login-modal fieldset .gwt-PasswordTextBox:focus
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(158, 151, 126, 0.6);
}

.login-modal .info-block {
    background: url(images/login-popup/info-icon.gif) no-repeat 15px 8px #DDD8C5;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    min-height: 27px;
    margin: 0;
    padding: 17px 35px 8px 60px;
}

.login-modal .control-group.error .control-label {
    color: #d70000;
    text-shadow: none;
}

.login-modal .control-group.error .controls .gwt-TextBox,
.login-modal .control-group.error .controls .gwt-PasswordTextBox
{   
    border: 1px solid #d70000;
}
.login-modal .control-group.error .controls .gwt-TextBox:focus,
.login-modal .control-group.error .controls .gwt-PasswordTextBox:focus
{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}

.login-modal .info-block.alert-error {
    background: url(images/login-popup/error-icon.gif) no-repeat 15px 8px #dd5b56;
    border: 1px solid #d70000;
}

.login-modal .info-block.alert-error .gwt-Label {
    color: #ffffff;
    text-shadow: none;
}

.login-modal .gwt-DisclosurePanel {
    margin: 5px 0;
}

.login-modal .gwt-DisclosurePanel .content {
    border-left: 2px solid #CBC7B6;
    margin-left: 13px;
    padding: 5px 0 0 10px;
}

.login-modal .gwt-DisclosurePanel a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #157B01;
    line-height: 15px;
    padding: 5px 5px 0;
}

.login-modal .gwt-DisclosurePanel a:hover {
    text-decoration: underline;
}

.login-modal .gwt-DisclosurePanel a.header {
    color: #494949;
}

/* Loader Modal Styles */
.loader-modal {
    padding: 10px;
    margin: -250px 0 0 -120px;
    width: 200px;
    background: #000000;
}

.loader-modal .loader-logo {
    background: url(images/loader-modal/ws-logo.png) no-repeat;
    height: 65px;
    width: 160px;
    margin: 0 auto;
}

.loader-modal .loader-logo-label {
    color: #4c4c4c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #202020;
}

.loader-modal .loader-logo-icon {
    height: 33px;
    margin: 15px auto;
    width: 33px;
}

.loader-modal .loader-loading {
    text-transform: uppercase;    
    color: #279c07;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
}

.loader-modal .loader-message {
    color: #909090;
    padding: 10px 0 0 0;
    text-align: center;
}

/* Advanced search modal styles */ 
.advanced-search-modal {
    padding: 10px;
    margin: -350px 0 0 -532px;
    width: 1075px;
    height: 600px;
    background: #000000;
}

.advanced-search-modal .modal-body {
    padding: 0;
    max-height: 600px;
}

/* Feedback search modal styles */ 
.feedback-modal {
    padding: 10px;
    margin: -350px 0 0 -465px;
    width: 930px;
    background: #000000;
}

.feedback-modal .modal-body {
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    max-height: 600px;
    padding: 12px 20px;
}

.feedback-modal h2 {
    color: #6f6b59;
    font-weight: 300;
    font-size: 24px;
}

.feedback-modal h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 9px 0 0;
    color: #242117;
}

.feedback-modal .feedback-content {
    background: #e7e3d6;
    padding: 20px;
}

.feedback-modal .well {
    width: 490px;
    height: 44px;
    background: #ddd8c5;
    padding: 10px 20px;
    margin-bottom: 7px;
    border: 1px solid #ddd8c5;
    cursor: pointer;
}

.feedback-modal .well:hover {
    border: 1px solid #199204;
    background: url(images/feedback-selection_bg.gif) repeat-x;
}

.feedback-modal .well:hover h4,
.feedback-modal .well:hover p {
    color: #ffffff; 
}

.feedback-modal .well:hover .gold-star {
    background: url(images/feedback-stars.png) no-repeat 0 -40px;
}

.feedback-modal .well:hover .grey-star {
    background: url(images/feedback-stars.png) no-repeat 0 -120px;
}

.feedback-modal .span-star {
    width: 170px;
}

.feedback-modal .span-title {
    width: 110px;
}

.feedback-modal .span-detail {
    width: 184px;
}

.feedback-modal .gwt-ToggleButton {
    border:none;
}

.feedback-modal p {
    font-size: 12px;
    color: #242117;
}

.feedback-modal .gwt-Label {
    color: #928a6f;
    line-height: 20px;
    padding: 0;
    float: left;
}

.feedback-modal .user-info-label {
    color: #237e00;
    padding: 0 0 0 10px;
}

.feedback-modal .gold-star  {
    background: url(images/feedback-stars.png) no-repeat;
    width: 31px;
    height: 40px;
    float: left;
}

.feedback-modal .grey-star  {
    background: url(images/feedback-stars.png) no-repeat 0 -80px;
    width: 31px;
    height: 40px;
    float: left;
}

.contactUs-modal {
    padding: 10px;
    margin: -350px 0 0 -532px;
    width: 1075px;
    height: 600px;
    background: #000000;
}

.contactUs-modal .modal-body {
    padding: 0;
    max-height: 600px;
}

.contactUs-modal .gwt-TabLayoutPanel {
    height: 100%;
}

.contactUs-modal .gwt-TabLayoutPanelTab {
    
    padding: 0 24px;
    margin-right: 5px;
    background: #0c2d42;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: normal;    
    color: #4d7894;
    border: 1px solid #031d2d;
    border-bottom: none;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}

.contactUs-modal .gwt-TabLayoutPanelTabs {
    margin: 10px 10px 0;
}

.contactUs-modal .gwt-TabLayoutPanelTab-selected {
    border: 1px solid #f1ecda;    
    background: #f1ecda;
    color: #6f6b59;
}

.contactUs-modal .gwt-TabLayoutPanelContentContainer {
    background: url(images/advanced-search-content.gif) repeat-x #ffffff;    
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.contactUs-modal .container-fluid {
    background: #E7E3D6;
    margin: 40px 100px;
    padding: 25px 25px 10px;
}

.contactUs-modal .row-fluid {
    margin-bottom: 12px;
}

.contactUs-modal .span11 {
    margin: 0;
}

.contactUs-modal .gwt-Label {
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    width: 120px;
    float: left;
    padding: 0 15px 0 15px;
}

.contactUs-modal input.full-width,
.contactUs-modal select.full-width {
    width: 560px;
    height: 40px;
}

.contactUs-modal .input-append {
    float: left;
    width: 290px;
    height: 40px;
}

.contactUs-modal .input-append input {
    float: left;
    width: 270px;
    height: 40px;
    margin: 0;
}

.contactUs-modal .clear-button {
    margin: 5px 40px 0 0;
}

.contactUs-modal .well {
    height: 510px;
    background: none;
    margin: 10px 0 0;
    box-shadow: none;
    border: none;
}

.contactUs-modal .well input[type="checkbox"] {
    margin: 1px 4px 0 0;
}
