@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout of ALL views
 *
 * @author Jaro
 *
 */
html {
    background: url(images/content_bg.jpg) repeat;
}

body {
    margin: 0;
    padding: 0;
    background: url(images/body_bg.jpg) no-repeat top right transparent;
    min-width: 1280px;
    height: 100%;
}

body>div {
    min-width: 1280px;
}

.body-background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.body-container {
    position: relative;
    margin: 0 auto;
    width: 975px;
    height: 100%;
}

.body-content {
    background: #e1dcc8;
    margin: 64px auto 20px;
    padding: 15px;
    width: 950px;
    min-height: 350px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.body-full-container {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.layout-user-main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.full-size-panel {
    width: 100%;
    height: 100%;
    background: url(images/content_bg.jpg) repeat scroll 0 0 transparent;
}

.fluid-main-grid {
    padding: 0 20px 0 0;
}

.header-container {
    margin: 0 auto;
    width: 100%;
}

.header-content {
    height: 75px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 50;
}

/*
* Tool Bar Styles
*
*/
.toolbar {

}

.toolbar-header {    
    color: #030911;
    font-size: 24px;
    font-weight: 300;
    line-height: 44px;
    margin: 0;
    padding-left: 29px;
}

.toolbar-items-block {
    margin: 7px 0 0;
    float: left;
}

.toolbar-item {
    float: left;
    margin-right: 10px;
}

.toolbar-button-blue {
    background: url(images/blue-button.gif) repeat-x #004273;
    padding: 0px 12px;
    border: 1px solid #004273;
    border-radius: 4px;
    height: 30px;
    line-height: 28px;
    color: #ffffff;
    margin-right: 10px;
    box-shadow: 0 0 3px #aaaaaa;
    cursor: pointer;
    text-shadow: 0 -1px #004273;
}

.toolbar-button-blue:hover {
    color: #ffffff;
    box-shadow: 0 0 5px #004273;
}

/*
*	Home Menu Styles
*
*/
.menu {
    background: url("images/menu_bg.png") no-repeat top right transparent;
    float: left;
    height: 90px;
    list-style-type: none;
    padding: 0 55px;
}

.menu ul {
    height: 73px;
    padding: 0;
    margin: 0;
}

.menu li {
    display: block;
    float: left;
}

.menu li button {
    width: 95px;
    height: 90px;
    line-height: 15px;
    border: none;
    color: #f4f4f4;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    padding: 30px 5px 0;
}

.menu li button:hover {
    border: none;
    text-shadow: 0px 0px 3px #777;
    cursor: pointer;
    text-decoration: none;
}

.menu li button:active {
    border: none;
}
    
.menu .button1 {
    background: url(images/menu-icons.png) no-repeat 0 0;
}
.menu .button2 {
    background: url(images/menu-icons.png) no-repeat 0 -90px;
}
.menu .button3 {
    background: url(images/menu-icons.png) no-repeat 0 -180px;
}
.menu .button4 {
    background: url(images/menu-icons.png) no-repeat 0 -270px;
}
.menu .button5 {
    background: url(images/menu-icons.png) no-repeat 0 -360px;
}
.menu .button6 {
    background: url(images/menu-icons.png) no-repeat 0 -450px;
}
.menu .button7 {
    background: url(images/menu-icons.png) no-repeat 0 -540px;
}
.menu .button8 {
    background: url(images/menu-icons.png) no-repeat 0 -630px;
}
.menu .button9 {
    background: url(images/menu-icons.png) no-repeat 0 -720px;
}

.menu .button1:hover, .button1.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 0;
}
.menu .button2:hover, .button2.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -90px;
}
.menu .button3:hover, .button3.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -180px;
}
.menu .button4:hover, .button4.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -270px;
}
.menu .button5:hover, .button5.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -360px;
}
.menu .button6:hover, .button6.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -450px;
}
.menu .button7:hover, .button7.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -540px;
}
.menu .button8:hover, .button8.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -630px;
}
.menu .button9:hover, .button9.act {
    background: url(images/menu-icons-hover.png) no-repeat 0 -720px;
}

/*
*	Logo Styles
*
*/
.home-logo,.user-logo {
    background: url(images/logo.png) no-repeat scroll 0 0 transparent;
    height: 112px;
    position: absolute;
    top: 11px;
    width: 235px;
    z-index: 150;
}

/*
*	Search Bar Styles
*
*/
.search-bar {
    background: url(images/search_bg.png) no-repeat scroll 0 0 transparent;
    float: left;
    height: 76px;
    margin: 26px 0 0 20px;
    width: 203px;
}

.search-view {
    margin: 0;
    padding: 0;
    float: right;
}

.search-view ul {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}

.search-view ul li {
    display: inline;
}

.search-view select {
    width: 115px;
}

.search-view input {
    padding: 0 2px;
    width: 100px;
}

.advanced-search-modal {
    width: 1075px;
    /* Changing the width of a Twitter Bootstrap Modal:
     * Here we set the width of the modal element to 1075px wide, this is the actual width we are setting the modal too.
     * We then need to accomodate for the new width by modifying the modal margins.
     * We change the left margin from -280px to -532px, 1075 / 2 */
    margin: -250px 0 0 -532px;
    height: 600px;
}

.advanced-search-small-modal {
    width: 750px;
    /* Changing the width of a Twitter Bootstrap Modal:
     * Here we set the width of the modal element to 750px wide, this is the actual width we are setting the modal too.
     * We then need to accomodate for the new width by modifying the modal margins.
     * We change the left margin from -280px to -375px, 1075 / 2 */
    margin: -250px 0 0 -375px;
    height: 400px;
}

/*
*	Login styles
*
*/
.login {
    float: right;
    margin: 26px 30px 0 15px;
    z-index: 150;
}

.login-bar {
    color: #FFFFFF;
    float: right;
    margin: 26px 0 0;
}

.login-button {
    background: url(images/login_bg.png) no-repeat;
    height: 42px;
    text-align: center;
    width: 134px;
}

.login-button a {
    color: #FBFBFB;
    display: block;
    font-size: 15px;
    line-height: 39px;
    padding: 0 0 5px 35px;
}

.login-button a:hover {
    color: #fbfbfb;
    cursor: pointer;
    text-decoration: underline;
}

.logout-button {
    background: url(images/logout.png) no-repeat;
    width: 44px;
    height: 49px;
    cursor: pointer;
}

.logout-button-act {
    background: url(images/logout_hover.png) no-repeat;
    width: 44px;
    height: 49px;
    cursor: pointer;
}

.logout-menu-bar {
    background: url(images/logout-menubar.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    height: 157px;
    left: -118px;
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    width: 199px;
}

.logout-menu-bar td {
    color: #FFFFFF;
    display: block;
    float: left;
    line-height: 28px;
    padding: 0 15px;
    width: 169px;
}

.logout-menu-bar td:hover {
    color: #237e00;
    cursor: pointer;
    background: #ffffff;
}

.help-button {
    margin: 0;
    padding: 0;
    background: url(images/help-button.png) no-repeat;
    border: none;
    float: right;
    height: 36px;
    width: 49px;
}

/*
*	Toolbar Module styles
*
*/
.submenu-header {
    background: url(images/submenu_header.png) no-repeat;
    color: #ffffff;
    font-weight: bold;
    line-height: 26px;
    margin: 11px 0 -6px 0;
    padding-left: 10px;
    height: 36px;
}

.submenu-container {
    width: 100%;
    height: 100%;
    background: url("images/left-container_bg.jpg") repeat-y top right;
    overflow: auto;
}

.submenu-list {
    background: url(images/left-container-top.jpg) no-repeat top right;
    list-style: none outside none;
    margin: 0;
    padding: 20px 0 0 10px;
}

.submenu-list .gwt-Button {
    background: url(images/left-menu_bg.png) no-repeat;
    width: 222px;
    height: 39px;
    display: block;    
    padding: 0 0 2px 40px;
    margin-bottom: 10px;
    color: #443b19;
    border: none;
    cursor: pointer;
    text-align: left;
}

.submenu-list .gwt-Button:hover, .gwt-Button.act {
    background: url(images/left-menu_hover.png) no-repeat;
    color: #ffffff;
}

.pager {
    background: url(images/tab_header.gif) repeat-x;
    color: #ffffff;
    border-bottom: 1px solid #07545a;
}

/*
*	Footer Module styles
*
*/
.footer-container {
    position: relative;
    background: none;
    margin: 0 auto;
    width: 510px;
}

.footer-toggle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: thin solid black;
    border-bottom: none;
    cursor: pointer;
}

/** Other Styles **/
.data-grid-container table {
    padding: 0 20px 20px;
    background: #e4dfcb;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.data-grid-container table:first-child {
    padding: 20px 20px 0;
    background: #e4dfcb;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
}

.data-grid-container table[align="center"] {
    width: 100%;
}

.data-grid-container table[align="center"] img {
    margin: 30px auto !important;
    display: block;
}

.detail-info {
    width: 100%;
    border-radius: 5px;
}

.popup-dropdown-container table {
    background: #ffffff;
    padding: 10px;
    margin: 3px 0 0 -9px;
    line-height: 20px;
    border: 1px solid #C2C8D2;
    border-radius: 4px;
    box-shadow: 0 0 3px #DDDDDD;
}

.tab-layout-container {
    border: none;
}

.tab-layout-panel {
    border: none !important;
}

.stack-layout {
    border-bottom: 1px solid #BDA45D;
    position: absolute !important;
    left: 50px;
    right: 50px;
    top: 20px;
    bottom: 20px;
    max-height: 500px;
}

.stack-layout-panel-header {
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #BDA45D;
    border-bottom: 0px;
    background: url(images/stack-layout-panel-header.gif) repeat-x;
    text-shadow: 0 2px 2px #FBF2D8;
}

.stack-layout-panel-header:hover {
    background: #d3def6 url(images/gwt-style/hborder.png) repeat-x 0px
        -1464px;
    background: url(images/stack-layout-panel-header-hover.gif) repeat-x;
}
/** DELETE AFTER THIS LINE **/