@CHARSET "UTF-8";

/**
 * The file contains styles for GWT widgets in the standard theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
*/
body,table td,select {
    font-family: 'Open Sans', Arial Unicode MS, Arial, sans-serif;
    font-size: small;
}

pre {
    font-family: "courier new", courier;
    font-size: small;
}

body {
    color: black;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #fff;
    direction: ltr;
}

a {
    color:#237E00;
    cursor: pointer;
}

a:hover {
    color:#237E00;
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 5px.
*/
.gwt-Reference-standard {
    height: 5px;
    width: 5px;
    zoom: 1;
}

.gwt-Button {
    margin: 0;
    padding: 3px 5px;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
    cursor: hand;
    background: 0px -27px #cccccc;
    border: 1px outset #ccc;
}

.gwt-Button:active {
    border: none;
}

.gwt-Button:hover {
    border-color: #9cf #69e #69e #7af;
}

.gwt-Button[disabled] {
    cursor: default;
    color: #888;
}

.gwt-Button[disabled]:hover {
    border: 1px outset #ccc;
}

.gwt-MenuBar {
    cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
    cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
    background: #E0EDFE;
}

.gwt-MenuBar .gwt-MenuItem-disabled {
    color: #c0c0c0;
}

.gwt-MenuBar-horizontal {
    background: none;
    border: 1px solid #BBBBBB;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
    padding: 0px 10px;
    vertical-align: bottom;
    color: #666666;
    font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
    width: 1px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-left: 1px solid #888888;
    background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
    width: 1px;
    height: 1px;
    background: white;
}

.gwt-MenuBar-vertical {
    margin-top: 0px;
    margin-left: 0px;
    background: white;
}

.gwt-MenuBar-vertical table {
    border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
    padding: 4px 14px 4px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
    padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
    height: 1px;
    padding: 0px;
    border: 0px;
    border-top: 1px solid #777777;
    background: #ddddee;
    overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
    padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
    background: #E0EDFE;
}

.gwt-MenuBarPopup {
    margin: 0px 0px 0px 3px;
    min-width: 30px;
    z-index:10500;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
    background: none;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
    width: 5px;
    height: 5px;
    zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
    width: 8px;
    height: 5px;
    zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
    width: 5px;
    height: 8px;
    zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
    width: 8px;
    height: 8px;
    zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupTopRight {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
    background: none;
    -background: none;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
    background: none;
    -background: none;
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
    width: 8px;
    height: 5px;
    overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
    width: 5px;
    height: 8px;
    overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
    width: 8px;
    height: 8px;
    overflow: hidden;
}

.gwt-PopupPanel {
    z-index: 1000;
    min-width: 0;
}

.gwt-PopupPanel h3,
.gwt-PopupPanel h4 {
    color: #6F6B59;
}

.gwt-PopupPanel .popupContent {
    /*
    background: #F1ECDA;
    border: 10px solid #000000;    
    box-shadow: 0 0 6px #000000;
    padding: 20px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;*/
}

.gwt-PopupPanel .gwt-Label {
    padding: 0 0 15px 0;
}

.gwt-PopupPanel .gwt-Button {
    padding: 0;
    margin: 0 auto;
    float: none;
}

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity\=80);
    z-index: 900;
}

.gwt-Label.no-results-label {
    text-align: center;
    color: #6F6B59;
    font-size: 15px;
    font-weight: lighter;
    padding: 15px 0 0;
}

.dateBoxPopup {
    z-index: 10000;
    min-width: 0;
}

.gwt-DatePicker {
    border: 1px solid #8a8267;
    cursor: default;
}

.gwt-DatePicker td,.datePickerMonthSelector td:focus {
    outline: none
}

.datePickerDays {
    width: 100%;
    background: white;
}

.datePickerDay,.datePickerWeekdayLabel,.datePickerWeekendLabel {
    font-size: 75%;
    text-align: center;
    padding: 4px;
    outline: none;
}

.datePickerWeekdayLabel,.datePickerWeekendLabel {
    background: #f1ecda;
    padding: 0px 4px 2px;
    cursor: default;
}

.datePickerDay {
    padding: 7px;
    cursor: hand;
    cursor: pointer;
}

.datePickerDayIsToday {
    border: 1px solid black;
    padding: 3px;
}

.datePickerDayIsWeekend {
    background: #EEEEEE;
}

.datePickerDayIsFiller {
    color: #888888;
}

.datePickerDayIsValue {
    background: #aaccee;
}

.datePickerDayIsDisabled {
    color: #AAAAAA;
    font-style: italic;
}

.datePickerDayIsHighlighted {
    background: #F0E68C;
}

.datePickerDayIsValueAndHighlighted {
    background: #bbddd9;
}

.datePickerMonthSelector {
    background: #CECBBE;
    width: 100%;
}

td.datePickerMonth {
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    font-size: 70%;
    font-weight: bold;
    color: #51492e;
    height: 20px;
}

.datePickerPreviousButton,.datePickerNextButton {
    font-size: 120%;
    line-height: 1em;
    color: #6f6b59;
    cursor: hand;
    cursor: pointer;
    padding: 0px 4px;
}

.gwt-TabLayoutPanel {

}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {

}

.gwt-TabLayoutPanelContentContainer {
    border-color: #92c1f0;
    border-style: solid;
    border-width: 2px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-color: #92c1f0;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 6px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    cursor: hand;
    color: black;
    font-weight: bold;
    text-align: center;
    background: #d0e4f6;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: #92c1f0;
}