@sprite .pageDetails {
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #8d8d8d;  
  gwt-image: 'simplePagerText';
  background-repeat: repeat-x;
  min-width: 70px;
}

.button {
  padding: 0px;
  cursor: pointer !important;
  cursor: hand;
}

.disabledButton {
  cursor: default;  
}
