@CHARSET "UTF-8";

.message {
    margin: 10px 15px;
}

.message-opened {
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.message-header {
    background-color: white;
    cursor: pointer;
    cursor: hand;
    border-radius: 5px;
    -webkit-box-top-left-radius: 7px;
    -webkit-box-top-right-radius: 7px;
    -moz-border-topleft-radius: 7px;
    -moz-border-topright-radius: 7px;
}

.message-body {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.action-button {
    backgrount-color: #525252;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(46,
        45, 46) ), color-stop(0.54, rgb(122, 118, 122) ) );
    background-image: -moz-linear-gradient(center bottom, rgb(46, 45, 46) 4%,
        rgb(122, 118, 122) 54% );
    border-radius: 5px;
    -webkit-box-radius: 7px;
    -moz-border-radius: 7px;
    padding: 2px 5px 2px 5px;
    color: white;
    text-decoration: none;
}

.action-button:hover {
    backgrount-color: #bfbfbf;
    background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0.04, rgb(46
        , 46, 46) ), color-stop(0.54, rgb(122, 118, 122) ) );
    background-image: -moz-linear-gradient(center center, rgb(46, 46, 46) 4%,
        rgb(122, 118, 122) 54% );
}

.wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

.reply-button {
	background: url(images/blue-button.gif) repeat-x #004273;
	padding: 7px 12px;
	border: 1px solid #004273;
	border-radius: 4px;
	height: 34px;
	line-height: 34px;
	color: #ffffff;
	margin-right: 5px;
	box-shadow: 0 0 3px #aaaaaa;	
	cursor: pointer;
}

.reply-button:hover {	
	color: #ffffff;
	box-shadow: 0 0 5px #004273;
}

.reply-text-area {
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    min-height: 100px;
    padding: 5px;
    color: #333333;
    margin-bottom: 10px;
}

.messages-mine {
    background-color:#FFFF99;
}

.messages-received {
    background-color:#CCFF99;
}

.message-unread {
    font-weight:bold;
}
