@CHARSET "UTF-8";

.message {
    margin: 0;
}

.message-opened {
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.message-header {
    background-color: white;
    cursor: pointer;
    cursor: hand;
    border-radius: 5px;
    display: block;
    float: left;    
    margin-left: 35px;
    -webkit-box-top-left-radius: 7px;
    -webkit-box-top-right-radius: 7px;
    -moz-border-topleft-radius: 7px;
    -moz-border-topright-radius: 7px;
}

.message-body {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.action-button {
    backgrount-color: #525252;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.04, rgb(46,
        45, 46) ), color-stop(0.54, rgb(122, 118, 122) ) );
    background-image: -moz-linear-gradient(center bottom, rgb(46, 45, 46) 4%,
        rgb(122, 118, 122) 54% );
    border-radius: 5px;
    -webkit-box-radius: 7px;
    -moz-border-radius: 7px;
    padding: 2px 5px 2px 5px;
    color: white;
    text-decoration: none;
}

.action-button:hover {
    backgrount-color: #bfbfbf;
    background-image: -webkit-gradient(linear, left bottom, left bottom, color-stop(0.04, rgb(46
        , 46, 46) ), color-stop(0.54, rgb(122, 118, 122) ) );
    background-image: -moz-linear-gradient(center center, rgb(46, 46, 46) 4%,
        rgb(122, 118, 122) 54% );
}

.wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

.reply-button {
    background: url(images/messages-button.png) repeat-x scroll 0 0 #199204;
    border: 1px solid #199204;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: normal;
    height: 37px;
    line-height: 35px;
    margin: 10px 7px 10px 0;
    padding: 0 12px;
    border-radius: 5px 5px 5px 5px;
}

.reply-button:hover {	
    color: #ffffff;
    box-shadow: 0 0 5px #b6f41e;
    text-decoration: none;
}

.close-button {
    background: url(images/messages-close-button.png) repeat-x #929292;
    border: 1px solid #818181;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: normal;
    height: 37px;
    line-height: 35px;
    margin: 10px 7px 10px 0;
    padding: 0 12px;
    border-radius: 5px 5px 5px 5px;
}

.close-button:hover {
    color: #ffffff;
    box-shadow: 0 0 5px #cccccc;
    text-decoration: none;
}

.reply-text-area {
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    min-height: 100px;
    padding: 5px;
    color: #333333;
    margin-bottom: 10px;
}

.messages-mine {
    background-color:#FFFF99;
}

.messages-received {
    background-color:#CCFF99;
}

.message-unread {
    font-weight:bold;
}

.response-container {
    padding: 15px 24px;    
}
