.action-box {}
.universal-pager {}
.ws-page-size-list {}
.small-loader {}
.elem-hidden {}
.elem-visible {}
.info-message {}
.error-message {}
.disabled-text {}
.error-field {}
.loading-popup {}
.hyperlink {}
.user {}
.user_content {}
.empty_style {}
.textBoxAsLabel {}
.button-empty button {}
.button-left-small {}
.button-left-medium {}
.button-left-large {}
.button-right-small {}
.button-right-medium {}
.button-right-large {}
.button-grey {
    margin: 0 0 3px 0;
}

.button-long-grey {
    margin: 0 0 3px 0;
}

.button-green {
    margin: 0 0 3px 0;
}

.button-ok-green {}
.selector-button-brown button {}
.selected-items-widget {}
.switch-left {}
.switch-right {}

.form-fields input[type="text"],
.form-fields input[type="password"],
.form-fields textarea,
.form-fields select {
    height: 30px;
    font-size: 11px;
}
.form-fields .gwt-Label {
    font-size: 12px;
    line-height: 15px;
    margin-top: 7px;
}
.form-fields input.append-dollar, 
.form-fields input.append-date,
.form-fields input.append-star,
.form-fields input.append-percent,
.form-fields .selector-box[readonly] {
    background-position: right 2px;
}
.well-container {
    margin-bottom: 5px;
}
.well-container .well-header {
    height: 40px;
}
.well-container .well-header h4 {
    line-height: 40px;
}
.well-container.well-form .well-content .span12 {
    padding: 0 10px;
}
.well-container .well-content .well-padding {
    padding: 15px 10px 5px;
}
/* Validation styles */
.validation-container .control-group .label {
/*    padding: 10px 0 0 15px;
    line-height: initial;*/
    font-size: 9px;
}

/* how it works */
.how-it-works-container .content-block-center .span6 {
    width: 100% !important;
    min-width: 230px;
}
.how-it-works-container .content-block .content-block-center {
    padding: 10px;
}

/* MyListBox - used for custom select-box */
.myListBox {}
/* Alert Box styles */
.alert-container .alert {
    background: #DDD8C5;
    padding: 10px;
    font-size: 12px;
}
.selector-data-grid {}

.catLocManager {}
.catLocManager .gwt-SuggestBox {
    width: 120px !important;
}
.catLocManager .browse-button {
    margin: 3px 0 0 10px;
    font-size: 12px;
    line-height: 11px;
    height: 30px;
    width: 100px;
}
.condition-panel {}
.unsubscribe-container {}