.action-box {}
.universal-pager .ws-pager-size-box {
    display: none;
}
.ws-page-size-list {}
.small-loader {}
.elem-hidden {}
.elem-visible {}
.info-message {}
.error-message {}
.disabled-text {}
.error-field {}
.loading-popup {}
.hyperlink {}
.user {}
.user_content {}
.empty_style {}
.textBoxAsLabel {}
.button-empty button {}
.button-left-small {}
.button-left-medium {}
.button-left-large {}
.button-right-small {}
.button-right-medium {}
.button-right-large {}
.button-right-brown-small {}
.button-grey {}
.button-long-grey {}
.button-green {}
.button-ok-green {}
.selector-button-brown button {}
.selected-items-widget .selected-Label {
    float: none
}
.selected-items-widget .selected-list {
    float: none;
}
.switch-left {}
.switch-right {}
.form-fields {}
.well-container{}
.validation-container {}
.how-it-works-container {}
.myListBox {    }
.alert-container {}
.alert-container {}
.selector-data-grid {}
.catLocManager {}
.condition-panel {}
.unsubscribe-container {}