.common-modal-style {
    left: 0;
    right: 0;
}
.common-modal-style .modal-header {
    padding: 0px 20px 5px;
}
.common-modal-style .modal-body {
    padding: 5px;
}
.tooltip {}
/*.common-modal-style .well {
    padding: 10px 10px 0;
}*/

/* Login Modal Styles  */
.login-modal .modal-header {
    padding: 0px 20px 5px;
}
.login-modal .modal-body {
    padding: 5px;
}
.login-modal .gwt-TextBox,
.login-modal .gwt-PasswordTextBox {   
    height: 35px;
    padding: 0 5px;
}
/*.login-modal .well {
    padding: 10px 10px 0;
}*/

/* Advanced search modal styles */ 
.advanced-search-popup {
    left: 0;
    right: 0;
}
.advanced-search-popup .advanced-buttons {
    
}
.advanced-search-tabPanel .gwt-TabLayoutPanelTab {
    padding: 0 7px;
}

.small-loader-modal {}

.suggest-modal {}

/* Feedback search modal styles */ 
.feedback-modal {}

/* Contact Us Modal */
.contactUs-modal {}

/* Feedback modal */
.feedback-modal .well,.feedback-well {
    padding: 5px;
}
.feedback-modal .feedback-well h4 {
    font-size: 18px;
}
.feedback-modal .span3 {
    min-width: 85px;
}
.feedback-modal .span4 {
    min-width: 120px;
}
.feedback-modal .user-info-label {
    padding: 0 0 5px 0;
}
.feedback-modal .gold-star,.grey-star {
    height: 35px;
    width: 26px;
    margin-left: -5px;
}

/* Category and Locality Modal Styles */
.cell-browser-selection-modal .modal-body {
    padding: 0;
    margin: 0;
}
.cell-browser-selection-modal .modal-body .content-row {
    max-height: 360px;
}
/* Activation Code Modal Styles */
.activation-code .well {
    padding: 10px 10px 0;
}
/* Thank You Modal Styles */
.thankyou .text {
    font-size: 15px;
}

/* Terms and Conditions Popup */
.terms-and-conditions {}