@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout of ALL views
 *
 * @author Beho
 *
 */
body {
    margin: 0;
}

.layout-public-main {
    min-width: 800px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.layout-user-main {
    width: 100%;
    height: 100%;
    position:absolute;
}
.header-container {
    background-color: #E0F0FF;
}

.footer-container {
    background-color: #D0D0D0;
}

.body-container {
    background-color: #F1F1F1;
}
.login-area {
    float: right;
    border-bottom: thin black solid;
}

.full-size-panel {
    width: 100%;
    height: 100%;
}

/** DELETE AFTER THIS LINE **/


.max-size {
    width: 100%;
    height: 100%;
}

/* 	Poptavka basic layout definitions - end */


.main-menu-container {
    height: 50px;
    width: 100%;
    background-color: #7FB0F0;
}

.side-menu-container {
    width: 200px;
    background-color: #E9E9E9;
}

/* experimental class */
.closed {
    display: none;
}

.creation-hidden {
    left: 0px;
    top: 470px;
}

.creation-second {
    left: 0px;
    top: 20px;
}

.creation-third{
    left: 0px;
    top: 40px;
}

.creation-fourth{
    left: 0px;
    top: 60px;
}

.solid-back {
    border-top: 1px solid black;
    background-color: white;
}

.error-field {
    background-color: #ffcece;
}

.resizeIt {
    height: 1.5em;
}
