<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">



    <!-- Services -->
    <import resource="classpath:/applicationContext.xml"/>

<!-- Gilead configuration -->
    <bean id="persistenceUtil" class="net.sf.gilead.core.hibernate.jpa.HibernateJpaUtil">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="proxyStore" class="net.sf.gilead.core.store.stateful.HttpSessionProxyStore">
        <property name="persistenceUtil" ref="persistenceUtil" />
    </bean>

    <bean id="beanManager" class="net.sf.gilead.core.PersistentBeanManager">
        <property name="proxyStore" ref="proxyStore" />
        <property name="persistenceUtil" ref="persistenceUtil" />
    </bean>

</beans>
