<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>poptavka</display-name>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/poptavkaDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


    <!--Configuration for spring application context container               -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/poptavka-security.xml
            classpath*:applicationContext.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!--Configuration for Spring web context container-->
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:mvc-dispatcher-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/api/*</url-pattern>
    <!-- Spring configuration - END -->
    </servlet-mapping>

    <!-- Enable escaping of form submission contents -->
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Spring Security - END -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
    Mapping an RPC service defined in handler-servlet.xml
    -->
    <servlet>
        <servlet-name>DemandCreationModuleRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.demandcreation.DemandCreationModuleRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemandCreationModuleRPCService</servlet-name>
        <url-pattern>/poptavka/service/demandcreation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DemandRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.demand.DemandRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemandRPCService</servlet-name>
        <url-pattern>/poptavka/service/demands</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.client.ClientRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientRPCService</servlet-name>
        <url-pattern>/poptavka/service/cs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SupplierRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.supplier.SupplierRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierRPCService</servlet-name>
        <url-pattern>/poptavka/service/supplier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneralRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.general.GeneralRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralRPCService</servlet-name>
        <url-pattern>/poptavka/service/general</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessageRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.message.MessageRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageRPCService</servlet-name>
        <url-pattern>/poptavka/service/messages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OfferRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.offer.OfferRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfferRPCService</servlet-name>
        <url-pattern>/poptavka/service/offers</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>LocalityRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.locality.LocalityRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocalityRPCService</servlet-name>
        <url-pattern>/poptavka/service/locality</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.category.CategoryRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryRPCService</servlet-name>
        <url-pattern>/poptavka/service/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.user.UserRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRPCService</servlet-name>
        <url-pattern>/poptavka/service/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SettingsRPCService</servlet-name>
        <servlet-class>cz.poptavka.sample.server.service.settings.SettingsRPCServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingsRPCService</servlet-name>
        <url-pattern>/poptavka/service/settings</url-pattern>
    </servlet-mapping>
<!-- AJAX Crawlability filter - START -->
    <filter>
        <filter-name>Crawlfilter</filter-name>
        <filter-class>cz.poptavka.sample.server.CrawlServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Crawlfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- AJAX Crawlability filter - END -->


    <session-config>
        <session-timeout>
            240
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Poptavka.html</welcome-file>
    </welcome-file-list>
</web-app>
