.logo {
    background: url(images/logo_small.png) no-repeat scroll 0 0 transparent;
    top: -20px;
    z-index: 10;
}

.menu-icon {}
.menu-panel {
    background: url("images/menu_bg.jpg") repeat-x;
    top: 60px;
    left: 0;
    width: 100%;
}
.menu-panel.user {
    width: 100%;
}
.menu-panel.admin {
    width: 100%;
}

.menu {
    left: 50%;
    margin-left: -240px;
}
.search-icon {}
.search-panel {
    top: 10px;
    left: auto;
    right: 255px;
    height: 50px;
}
.search-panel.user {
    left: auto;
    right: 270px;
}
.search-panel.admin {
    left: auto;
    right: 270px;
}

.search-panel .search-textbox[type="text"] {
    width: 190px;
}
.search-panel .advanced-search {
    top: 2px;
    right: -90px;
    background: none;
}
.search-bar {}

.settings-icon {
    display: none;
}
.login-icon {}
.login-panel {}
.login {
    top: 9px;
    right: 20px;
}
.login-bar {
    top: 6px;
    right: 70px;
}
.login-button {}
.logout-button {}
.logout-button-act {}
.logout-menu-bar {}}
.help-button {}
