.logo {}
.menu-icon {    }
.menu-panel {}
.menu {}
.menu ul {}
.menu li {
    width: 33.3%;
    margin-right: 0;
}
.menu li button {
    margin: 7px 0;
    letter-spacing: -1px;
    font-size: 12px;
}

.menu .button1 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px 0;
}
.menu .button2 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -30px;
}
.menu .button3 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -60px;
    padding: 0 10px 7px 40px;
    width: 100px;
}
.menu .button4 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -90px;
}
.menu .button5 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -120px;
    padding: 0 10px 7px 40px;
}
.menu .button6 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -150px;
}
.menu .button7 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -180px;
}
.menu .button8 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -90px;
}
.menu .button9 {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -210px;
}

.menu .button1:hover, .button1.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -240px;
}
.menu .button2:hover, .button2.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -270px;
}
.menu .button3:hover, .button3.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -300px;
}
.menu .button4:hover, .button4.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -330px;
}
.menu .button5:hover, .button5.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -360px;
}
.menu .button6:hover, .button6.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -390px;
}
.menu .button7:hover, .button7.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -420px;
}
.menu .button8:hover, .button8.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -330px;
}
.menu .button9:hover, .button9.act {
    background: url(images/menu-icons-responsive.png) no-repeat -10px -450px;
}

.user-responsive-menu {}
.user-label {}
.user-settings {}
.user-logout {}

.search-icon {}
.search-panel {}
.search-bar {}
.settings-icon {}
.login-icon {}
.login-panel {}
.login {}
.login-bar {}
.login-button {}
.logout-button {}
.logout-button-act {}
.logout-menu-bar {}
.help-button {}