.logo {
    background: url(images/logo_small.png) no-repeat scroll 0 0 transparent;
    width: 171px;
    height: 91;
}
.menu-icon {
    display: block;
    top: 15px;
    left: 20px;
}
.menu-panel {}
.menu {}
.menu ul {}
/*
.menu li {
    width: 30%;
    margin-right: 3%;
}
*/
.menu li button {    
    line-height: 60px;
    height: 60px;
    /*height: 30px;
    margin: 7px 5px;
    padding: 7px 10px 7px 40px;
    text-align: left;    
    width: 100%; */
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

/*
.menu li button:hover, .menu li button.act {
    box-shadow: 0px 0px 2px #067202 inset;
}
*/

.menu .button1, .menu .button1:hover, .button1.act {
    background-position: 0 0;
    border-bottom: 1px solid #1C466E;    
}
.menu .button2, .menu .button2:hover, .button2.act {
    background-position: 0 -75px;
    border-bottom: 1px solid #1C466E;
    border-top: 1px solid #3078A5;
}
.menu .button3, .menu .button3:hover, .button3.act {
    background-position: 0 -145px;
    border-bottom: 1px solid #1C466E;
    border-top: 1px solid #3078A5;
}
.menu .button4, .menu .button4:hover, .button4.act {
    background-position: 0 -215px;
    border-bottom: 1px solid #1C466E;
    border-top: 1px solid #3078A5;
}
.menu .button5, .menu .button5:hover, .button5.act {
    background-position: 0 -285px;    
    border-top: 1px solid #3078A5;
}
.menu .button6, .menu .button6:hover, .button6.act {
    background-position: 0 -355px;
    border-bottom: 1px solid #1C466E;    
}
.menu .button7, .menu .button7:hover, .button7.act {
    background-position: 0 -425px;
    border-bottom: 1px solid #1C466E;
    border-top: 1px solid #3078A5;
}
.menu .button8, .menu .button8:hover, .button8.act {
    background-position: 0 -495px;
    border-top: 1px solid #3078A5;
}
.menu .button9, .menu .button9:hover, .button9.act {
    background-position: 0 -565px;
    border-bottom: 1px solid #1C466E;
    border-top: 1px solid #3078A5;
}

.user-responsive-menu {}
.user-label {}
.user-settings {}
.user-logout {}

/*
*	Search Bar Styles
*
*/
.search-icon {
    background: url("images/search_small.png") no-repeat 8px 10px;
    border: none;
    border-right: 1px solid #ffffff;
    display: block;
    height: 50px;
    padding: 0;
    right: 140px;
    top: 22px;
    width: 60px;
}
.search-icon.user {
    right: 235px;
}
.search-panel {
    display: none;
    background: none;
    top: 0;
    left: 40px;
}
.search-bar {
    
}

/*
 *  Settings Styles
 *  TODO: REMOVE
 */
.settings-icon {
    display: none;
    right: 50px;
    margin: 15px;
}
/*
*	Login styles
*
*/
.login-icon {    
    background: url("images/login_small.png") no-repeat scroll 16px 10px;
    border: none;
    display: block;
    height: 50px;
    padding: 0;
    right: 75px;
    top: 22px;
    width: 60px;
}
.login-panel {
    display: none;
}
.login {
    top: 0;
    right: 0;
}

.login-bar {
    top: 20px;
    right: 70px;
}

.login-button {}
.logout-button {}
.logout-button-act {}
.logout-menu-bar {}
.help-button {}
