.logo {
    height: 99px;
    top: 1px;
}

.menu-icon {}
.menu-panel {
    background: url("images/menu_medium_bg.png") repeat-y;
    height: 100%;
    margin-left: 0;
    right: -280px;
    top: 0;
    width: 280px;
    z-index: 200;
}
.menu-panel.user, .menu-panel.admin {
    width: 280px;
}

.menu {
    left: 0;
    bottom: 0;
    margin-left: 0;
    padding: 20px;
}

.menu .button1, .menu .button1:hover, .button1.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 0;
}
.menu .button2, .menu .button2:hover, .button2.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -70px;
}
.menu .button3, .menu .button3:hover, .button3.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -140px;
}
.menu .button4, .menu .button4:hover, .button4.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -210px;
}
.menu .button5, .menu .button5:hover, .button5.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -280px;
}
.menu .button6, .menu .button6:hover, .button6.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -350px;
}
.menu .button7, .menu .button7:hover, .button7.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -420px;
}
.menu .button8, .menu .button8:hover, .button8.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -490px;
}
.menu .button9, .menu .button9:hover, .button9.act {
    background: url(images/menu-icons-medium.png) no-repeat 0 -560px;
}

.menu li button {
    height: 70px;
    width: 230px;
    padding: 0 0 0 54px;
    line-height: 70px; 
    text-align: left;
    font-weight: lighter;
    font-size: 17px;
}

.menu .menu-open-button { 
    display: block;    
}

.user-responsive-menu {
    position: absolute;
    bottom: 20px;
    right: 25px;
}
.user-label {
    display: block;
    background: url("images/menu-options-icons.png") no-repeat;    
    border: medium;
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    height: 50px;
    line-height: 50px;    
    width: 180px;
    padding: 0 0 0 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-settings {
    display: block;
    background: url("images/menu-options-icons.png") 0 -50px no-repeat;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    font-size: 15px;
    font-weight: lighter;
    width: 230px;
    padding: 0 0 0 50px;
    border: none;
    text-align: left;
}
.user-logout {
    display: block;    
    background: url("images/menu-options-icons.png") 0 -200px no-repeat;
    height: 50px;
    color: #ffffff;
    line-height: 50px;
    font-size: 15px;
    font-weight: lighter;
    width: 230px;
    padding: 0 0 0 50px;
    border: none;
    text-align: left;
}

.search-icon {}
.search-panel {
    top: 27px;
    left: auto;
    right: 240px;
    height: 50px;
}
.search-panel.user {
    left: auto;
    right: 240px;
}
.search-panel.admin {
    left: auto;
    right: 195px;
}

.search-panel .search-textbox[type="text"] {
    width: 180px;
}
.search-panel .advanced-search {
}
.search-bar {}

.settings-icon {
    display: none;
}
.login-icon {}
.login-panel {}
.login {
    top: 27px;
    right: 82px;
}
.login-bar {
    top: 27px;
    right: 75px;
}
.login-button {}
.logout-button {display:none;}
.logout-button-act {}
.logout-menu-bar {}
.help-button {}
