/* 
    Document   : mailBox
    Created on : Feb 7, 2012, 8:18:20 AM
    Author     : slavkovsky.martin, Jaro
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*  DEMAND DETAIL SECTION  */
.demandDetailSectionHeader {
	border-bottom: 1px solid #fea100;
	background: url(images/header.gif) repeat-x;
	background-position: top left;
	padding: 0 12px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

.demand-detail-content {
	background: url(images/transparent_bg.png) repeat;
	float: left;
	padding: 12px;
	width: 376px;
}

.detail-block {
	background: #ffffff;
	float: left;
	margin: 0 0 15px;
	padding: 0 10px 10px;
	width: 356px;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.detail-block div {
	float: left;
	line-height: 20px;
}

.detail-block .detail-header {
	background: url(images/detail-block-header.png) no-repeat 5px 8px;
	color: #F06500;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 36px;
	width: 332px;
	float: left;
}

.detail-block-label {
	background: url(images/detail-block-list.gif) no-repeat 6px 6px;
	color: #000000;
	float: left;
	line-height: 20px;
	padding: 0 0 0 18px;
	width: 165px;
	font-weight: bold;
}

.detail-date-label {
	background: url(images/detail-date-label.png) no-repeat 1px 1px;
	padding: 0 0 0 24px;
}

.detail-category-label {
	float: left;
}

.detail-category-label div div {
	background: #fee1bf;
	color: #a05c0d;
	float: left;
	line-height: 20px;
	padding: 0 8px;
	margin: 2px 4px;
	border-radius: 4px 4px;
	-moz-border-radius: 4px 4px;
	-webkit-border-radius: 4px 4px;
}

.detail-locality-label div div {
	float: left;
}

.detail-locality-label div div {
	background: url(images/detail-block-list.gif) no-repeat 6px 6px;
	color: #f06300;
	float: left;
	line-height: 20px;
	padding: 0 0 0 18px;
}


/*  conversation DETAIL SECTION  */
.conversation-detail {
	border-bottom: 1px solid #D4D4D4;
	padding: 10px 10px 10px 30px;
}

.conversation-detail-green {
	background: url(images/detail-block-green-circle.png) no-repeat 11px
		14px;
}

.conversation-detail-red {
	background: url(images/detail-block-red-circle.png) no-repeat 11px 14px;
}

.conversation-detail:hover {
	background-color: #effaff;
	box-shadow: 0 0 4px #999999;
}

.conversation-detail-header {
	float: left;
	font-weight: bold;
}

.conversation-detail-header-green {
	color: #2ca500;
}

.conversation-detail-header-red {
	color: #e50000;
}

.conversation-detail-time {
	color: #006b9f;
	float: right;
}

.conversation-detail-content {
	color: #6a707a;
}

.conversation-left-block {
	float: left;
	width: 100%;
}

/* the rest will be deleted ... */
.demandDetailTable {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}

.demandDetailTable th {
	border: 1px solid black;
	font-weight: bold;
	background-color: limegreen;
}

.demandDetailTable td {
	border: 1px solid black;
}

/*  SUPPLIER DETAIL SECTION  */
.supplierDetailSectionHeader th {
	font-family: fantasy;
	font-size: xx-large;
	background-color: red;
}

.supplierDetailTable {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}

.supplierDetailTable th {
	border: 1px solid black;
	font-weight: bold;
	background-color: lightcoral;
}

.supplierDetailTable td {
	border: 1px solid black;
}