@CHARSET "UTF-8";

/**
 * Css Resources for main basic layout of ALL views
 *
 * @author Beho, Jaro
 *
 */
body {
	margin: 0;
	background: url(images/body_bg.gif) repeat-x;
}

input,textarea,select {
	box-shadow: inset 0 0 5px #aaaaaa;
	border: 1px solid #888888;
}

.body-container {
	position: relative;
	margin: 0 auto;
	padding: 0px 50px;
	width: 975px;
	height: 100%;
	background: url(images/content_bg.gif) no-repeat top center #ffffff;
	margin: 0 auto;
}

.body-full-container {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.layout-public-main {
	min-width: 800px;
	/* max-width: 1024px; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.layout-user-main {
	width: 100%;
	height: 100%;
	position: absolute;
}

.header-container {
	margin: 0 auto;
	height: 148px;
	width: 1075px;
	background-color: none;
}

.header-content {
	margin: 0;
	padding: 0;
	height: 110px;
	width: 1075px;
}
/*
*	Footer Module styles
*
*/
.footer-container {
	background: url(images/footer_bg.gif) repeat-x;
}

.footer-container p {
	color: #ffffff;
	margin: 0;
}

.footer-toggle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: thin solid black;
	border-bottom: none;
	cursor: pointer;
}

/*
*	Login are styles
*
*/
.login-area {
	float: right;
	border-bottom: thin black solid;
}

.login-button {
	background: url(images/login_bg.png) no-repeat;
	width: 69px;
	height: 32px;
	padding: 10px 5px 0 60px;
}

.login-button a {
	color: #fbfbfb;
	display: block;
}

.login-button a:hover {
	color: #fbfbfb;
	cursor: pointer;
	text-decoration: underline;
}

.full-size-panel {
	width: 100%;
	height: 100%;
}

.tab-layout-container {
	border: none;
}

.tab-layout-panel {
	border: none !important;
}

/*
*	Demand Module styles
*
*/
.submenu-header {
	background: url(images/submenu_header.png) no-repeat;
	color: #ffffff;
	font-weight: bold;
	line-height: 26px;
	margin: 11px 0 -6px 0;
	padding-left: 10px;
	height: 36px;
}

.submenu-list {
	margin: 0px;
	padding: 0 0 0 10px;
	list-style: none;
}

.submenu-list a {
	display: block;
	background: #1f7b82;
	padding: 2px 15px;
	color: #ffffff;
	border-bottom: 1px solid #07545A;
}

.submenu-list a:hover {
	cursor: pointer;
	background: #15676d;
}

.demand-tab-content {
	border-left: 2px solid #07545A;
	border-top: 2px solid #07545A;
	border-bottom: 2px solid #07545A;
}

.demand-tab-content-header {
	background: url(images/tab_header.gif) repeat-x;
	padding: 9px;
}

.demand-tab-content-header button {
	border-color: #CCCCCC #BBBBBB #A0A0A0;
	border-style: solid;
	border-width: 1px;
}

.pager {
	background: url(images/tab_header.gif) repeat-x;
	color: #ffffff;
	border-bottom: 1px solid #07545a;
}

/*
*	Home Menu Styles
*
*/
.home-menu {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 6px;
	width: 550px;
}

.home-menu li {
	display: block;
	float: left;
}

.home-menu li button {
	border: none;
	background: none;
	color: #f4f4f4;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 3px 3px #03272a;
}

.home-menu li button:hover {
	border: none;
	text-shadow: 0px 0px 3px #777;
	cursor: pointer;
	text-decoration: underline;
}

.home-menu li button:active {
	border: none;
}

.home-menu li a {
	color: #f4f4f4;
}

.search-view {
	margin: 0;
	padding: 0;
	float: right;
}

.search-view ul {
	margin: 0;
	padding: 0;
	display: inline;
	list-style: none;
}

.search-view ul li {
	display: inline;
}

.search-view select {
	width: 115px;
}

.search-view input {
	padding: 0 2px;
	width: 100px;
}

.stack-layout {
	border-bottom: 1px solid #BDA45D;
	position: absolute !important;
	left: 50px;
	right: 50px;
	top: 20px;
	bottom: 20px;
	max-height: 500px;
}

.stack-layout-panel-header {
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	padding: 6px;
	border: 1px solid #BDA45D;
	border-bottom: 0px;
	background: url(images/stack-layout-panel-header.gif) repeat-x;
	text-shadow: 0 2px 2px #FBF2D8;
}

.stack-layout-panel-header:hover {
	background: #d3def6 url(images/gwt-style/hborder.png) repeat-x 0px
		-1464px;
	background: url(images/stack-layout-panel-header-hover.gif) repeat-x;
}

.create-tab-layout {
	height: 100%;
}

.create-tab-layout-header {
	position: relative;
	color: #554107;
	background: url(images/create-tab.png) no-repeat top right;
	height: 39px;
	line-height: 39px;
	text-shadow: 0 2px 2px #ffe397;
	font-weight: bold;
	margin-right: -30px;
	padding: 0 35px 0 50px;
	border-left: 1px solid #bda45d;
}
.create-tab-layout-selected,
.create-tab-layout-header:hover {
	background: url(images/create-tab-hover.png) no-repeat top right;
	cursor: pointer;
}

.create-tab-layout-content {
	margin-top: 10px;
	border-top: 1px dashed #666666;
}

/** DELETE AFTER THIS LINE **/

/** TODO Praso - toto je len ukazka na pracu s kliknutymi menu tlacitkami, **/
.selected {
	font-weight: bold;
}