<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Logging in file -->
    <appender name="RootFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/tomcat/poptavka/app-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>/var/logs/tomcat/poptavka/app-web.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>1000</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %C{1}, %M %m%n</pattern>
        </layout>
    </appender>

    <!-- Logging in Console -->
    <appender name="RootConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %p, %c, %C{1}, %M %m%n</pattern>
        </layout>
    </appender>


    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.dialect.Dialect " level="INFO"/>
    <logger name="org.hibernate.validator.ClassValidator" level="ERROR"/>
    <logger name="org.springframework.aop.framework.autoproxy" level="WARN"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaUpdate" level="INFO"/>

    <root>
        <level value="info"/>
        <appender-ref ref="RootFileAppender"/>
        <appender-ref ref="RootConsoleAppender"/>
    </root>

</configuration>
