<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!--DO NOT USE context:component-scan because dependencies are defined in this xml file - only MVC annotations are used-->
    <context:annotation-config />
    <!--support Jackson-->
    <mvc:annotation-driven />

    <!--common-->
    <bean id="businessUserSerializer" class="com.eprovement.poptavka.rest.common.serializer.BusinessUserSerializer" />
    <bean id="businessUserDeserializer" class="com.eprovement.poptavka.rest.common.serializer.BusinessUserDeserializer" />

    <!--category-->
    <bean id="categorySerializer" class="com.eprovement.poptavka.rest.category.CategorySerializer" />
    <bean class="com.eprovement.poptavka.rest.category.CategoryResource">
        <constructor-arg ref="categoryService" />
        <constructor-arg ref="categorySerializer" />
    </bean>

    <!--locality-->
    <bean id="localitySerializer" class="com.eprovement.poptavka.rest.locality.LocalitySerializer" />
    <bean class="com.eprovement.poptavka.rest.locality.LocalityResource">
        <constructor-arg ref="localityService" />
        <constructor-arg ref="localitySerializer" />
    </bean>

    <!--demand-->
    <bean id="demandSerializer" class="com.eprovement.poptavka.rest.demand.DemandSerializer" />
    <bean id="demandDeserializer" class="com.eprovement.poptavka.rest.demand.DemandDeserializer" />
    <bean class="com.eprovement.poptavka.rest.demand.DemandResource">
        <constructor-arg ref="demandService" />
        <constructor-arg ref="demandSerializer" />
        <constructor-arg ref="demandDeserializer" />
    </bean>

    <!--supplier-->
    <bean id="supplierSerializer" class="com.eprovement.poptavka.rest.supplier.SupplierSerializer">
        <constructor-arg ref="businessUserSerializer" />
    </bean>
    <bean id="supplierDeserializer" class="com.eprovement.poptavka.rest.supplier.SupplierDeserializer">
        <constructor-arg ref="businessUserDeserializer" />
    </bean>
    <bean class="com.eprovement.poptavka.rest.supplier.SupplierResource">
        <constructor-arg ref="supplierService" />
        <constructor-arg ref="supplierSerializer" />
        <constructor-arg ref="supplierDeserializer" />
    </bean>

    <!--User-->
    <bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".html" />
	</bean>
</beans>

