.cellBrowserWidget {

}

.cellBrowserColumn {
    background: #f8f4e4;
    border: 1px solid #d2c9a9;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cellBrowserFirstColumn {

}

.cellBrowserEvenItem, .cellBrowserOddItem {
    border-top: 1px solid #d2c9a9;
    color: #222222;
    padding: 8px;
    cursor: pointer;
}

.cellBrowserEvenItem:first-child {
    border-top: none;
}

.cellBrowserKeyboardSelectedItem {
}

@sprite .cellBrowserSelectedItem {
    gwt-image: 'cellBrowserSelectedBackground';
    background-color: #35a909;
    color: #d2c9a9;
    height: auto;
    overflow: hidden;
}

@sprite .cellBrowserOpenItem {
    gwt-image: 'cellBrowserOpenBackground';
    background-color: #35a909;
    color: #d2c9a9;
    height: auto;
    overflow: hidden;
}

.cellBrowserOpenItem td, .cellBrowserSelectedItem td {
    color: #f8f4e4;
}