.height-registration-extended {
    height: 1160px;
}
.height-registration {
    height: 985px;
}
.height-selector {
    height: 475px;
}
.height-advanced {
    height: 485px;
}
.height-basic {
    height: 550px;
}
.createTabPanel {
}
.createTabPanel .infoLabel1 {
    font-size: 20px;
    line-height: 20px;
}
.fourStepTabPanel {}

.buttons-panel.middle {
    width: 266px;
    margin: 45px auto 0;
}
.buttons-panel.large {
    width: 266px;
}
.buttons-panel .button {
    font-size: 14px;
    padding: 0;
}
.buttons-panel .button.left-large {
    background: url(images/button-left-small.png) no-repeat;
    height: 43px;
    width: 101px;
}
.buttons-panel .button.left-middle {
    background: url(images/button-left-small.png) no-repeat;
    height: 43px;
    width: 101px;
}
.buttons-panel .button.right-large {
    background: url(images/button-right-small.png) no-repeat;
    height: 43px;
    width: 101px;
}
.buttons-panel .button.right-middle {
    background: url(images/button-right-small.png) no-repeat;
    height: 43px;
    width: 101px;
}
.buttons-panel .buttons-separator {
    height: 90px;
    margin: 0 25px;
}