.height-registration-extended {}
.height-registration {}
.height-selector {}
.height-advanced {}
.height-basic {}
.createTabPanel {
    width: 100%;
}

.createTabPanel .formHeader {
    width: 100%;
    margin-right: 0;
}
.treeStepTabPanel {}
.fourStepTabPanel {}
.buttons-panel {}

.createTabPanel .gwt-TabLayoutPanelTab {
    width: 21%;
    margin-right: -2%;
}

.treeStepTabPanel .gwt-TabLayoutPanelTab {
    width: 34%;
    margin-right: -2%;   
}
.fourStepTabPanel .gwt-TabLayoutPanelTab {
    width: 26%;
    margin-right: -2%;   
}
.createTabPanel .gwt-TabLayoutPanelTabs {
    width:100% !important;    
}

.createTabPanel .customHeader {
    width:100%;
    padding-left: 5%;
}

.required-label {}
.condition-panel {}